.continent-info{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    padding: 10px 150px;
}
.continent-info > .row {
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.continent-info .sort {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.sort .option {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.sort-icon {
    cursor: pointer;
    margin-top: 30px;
    width: 20px; 
}
.continent-info-cards {
    display: grid;
    grid-gap: 40px;   
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 30px 10px;
}
.continent-card {
    background-color: var(--bg-grey-tile);
    border-radius: 30px;
    box-shadow: 1px 1px grey;
    justify-self: center;
    padding: 15px;
    transition: 0.3s;
    width: 320px;
}
.continent-card > p:nth-child(2) {
    padding-top: 20px;
} 
 .continent-card:hover {
    background-color:rgb(102, 142, 250);
    box-shadow: 5px 5px rgb(53,52,52);
    color: black;
    font-weight: 500;
    transform: scale(1.1);    
}
.continent-name {
    color: yellow;
    font-size: 20px;
}
.continent-temperature {
    font-size: 24px;
    font-weight: bold;
}
.continent-temperature,
.continent-humidity {
    float: right;
}
.humidity-icon {
    animation: swing 3s infinite;
}
.continent-city,
.continent-humidity {
    font-size: 20px;
}